.Ad {
    max-width: 50rem;
}

.AdImg {
    max-height: 30rem;
    max-width: 100%;
    border-radius: 0;
    object-fit: cover;
}

.NoResults {
    max-height: 60vh;
    max-width: 100%;
}

.DraftsMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.6rem;
}

.DraftTrash {
    font-size: 1.2rem;
}

.Sticky {
    position: sticky;
    top: 8rem;
}