.FooterNav {
    display: flex;
    flex-direction: row;
    max-height: 4rem;
    background-color: #2C3D73;
    padding: 0.8rem;
    justify-content: space-around;
    align-items: center;
}

.Icon i {
    color: #F2F2F2;
}

.Icon a::after {
    color: #F2F2F2;
}

.BlueIcon i {
    color: #2C3D73;
}

.Active, .Active i  {
    color: #F58A07;
}

@media only screen and (min-width: 508px){
    .FooterNav {
        display: none;
    }
}