.PetCard {
    max-width: 55rem;
}
.PetMobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.6rem;
    align-items: center;
}
.PetImg {
    max-height: 30rem;
    max-width: 100%;
    border-radius: 0;
    object-fit: cover;
}