.Sidebar {
    height: calc(100vh - 6.5rem);
    background-color: #2C3D73;
    float: left;
    margin-top: 6rem;
    padding-left: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Top {
    padding-top: 1rem;
}
.icon i, .LinkText, .Top i {
    color: #F2F2F2;
}
.icon i {
    margin-top: 1rem;
}
.Active i, .Active > *  {
    color: #F58A07;
}