.App {
    min-height: 100vh;
    background-color: #F2F2F2;
}

.Main {
    padding-top: 7rem;
}

* {
    box-sizing: border-box;
}

hr {
    border: 2px solid #F24405;
    width: 3rem;
}

i {
    color: #2C3D73;
    margin-right: 0.3rem;
    font-size: 1.7rem;
    vertical-align: middle;
}

i:hover {
    cursor: pointer;
    color: #F24405;
    transition: color ease-in-out 0.2s;
}

a {
    color: #2C3D73;
}

a:hover, a:hover i {
    text-decoration: none;
    color: #F24405;
    transition: color ease-in-out 0.2s;
}

.FillerImage {
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 526px) and (min-width: 370px) {
    .Main {
        padding-top: 150px;
    }
}